:root{
    /* --primary-color:rgb(28, 28, 28); */
    --primary-color:rgb(0, 0, 0);
    /* --secondary-color:rgb(90, 90, 90); */
    --secondary-color:rgb(28, 28, 28);
    --button-color:rgb(0, 236, 0);
    --font-color:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--font-color);
}

