:root{
    --primary-color:white;
    --text-color:rgb(255, 111, 0);
    --secondary-color:rgba(224, 224, 224, 0.545);
    --button-color:rgb(0, 236, 0);
    --font-color:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--font-color);
}

